.login-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 89.5%;
    border-radius: 1rem;
    object-fit: cover;
    user-select: none;
    position: relative;
    overflow: hidden;
    filter: brightness(110%) contrast(138%);
    transition: transform .6s ease-in-out,opacity .6s ease-in-out,flex-basis .6s ease-in-out,margin .6s ease-in-out;
    box-shadow: inset 0 6px 5px 1px rgba(0,0,0,.5), 0 0 0 1px hsla(0,0%,100%,.1);

    .flicker {
      width: 100%;
      height: 100%;
      border-radius: 1.4rem;
      position: absolute;
      overflow: hidden;
      background: transparent;
      &::before{
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
        background-color: #00000070;
        z-index: 999999;
        background-size: 100% 2px,3px 100%;
        border-radius: 1.5rem;
      }
      &::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
        background: hsla(0,6%,7%,.1);
        opacity: 0;
        z-index: 10;
        animation: flicker .15s infinite;
        border-radius: 1.5rem;
      }
      .star-content{
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 1.5rem;
        .stars-fx {
            position: absolute;
            width: 3px;
            height: 3px;
            background: transparent;
            animation: animStar 120s linear infinite;
    box-shadow: 1363.66151353px 61.30797038px #ffffff80,810.87301288px 803.3543712px #ffffff80,557.22690713px 381.39068146px #ffffff80,1831.94888461px 1449.79585897px #ffffff80,1565.26173411px 233.43093152px #ffffff80,713.94619066px 1725.63312101px #ffffff80,440.27427007px 1149.8056479px #ffffff80,609.96780108px 48.81271658px #ffffff80,1227.72011805px 1805.33231153px #ffffff80,1285.81966701px 1458.08685077px #ffffff80,286.04743279px 816.88246621px #ffffff80,1440.80876517px 1327.54494413px #ffffff80,153.33753416px 1204.37140262px #ffffff80,1694.80678417px 1273.61623741px #ffffff80,194.04721891px 1249.29276809px #ffffff80,1517.91069933px 1570.64777377px #ffffff80,262.03073839px 1385.75506435px #ffffff80,1331.82916581px 168.81076198px #ffffff80,990.74574931px 1403.0602671px #ffffff80,582.43104685px 1198.20889139px #ffffff80,576.70457499px 573.06383173px #ffffff80,1236.01402629px 717.38331356px #ffffff80,1352.38415669px 990.25143032px #ffffff80,853.8310371px 149.34794437px #ffffff80,1944.4363392px 1573.02631144px #ffffff80,1169.1828782px 257.08614086px #ffffff80,1189.3187926px 798.56206908px #ffffff80,709.25510381px 1223.44075946px #ffffff80,853.4929915px 198.41370778px #ffffff80,1056.3298439px 1376.86282571px #ffffff80,151.67432007px 1102.25331929px #ffffff80,7.89538238px 619.49023746px #ffffff80,318.13719644px 1910.65092307px #ffffff80,957.07826043px 1609.94723537px #ffffff80,1002.64711245px 1375.39269703px #ffffff80,960.63125177px 137.44255616px #ffffff80,921.03962781px 1931.16674341px #ffffff80,1494.91654073px 85.04052411px #ffffff80,138.02154625px 533.8400282px #ffffff80,1298.21838737px 1828.82050193px #ffffff80,757.78706963px 1864.31767218px #ffffff80,718.32432321px 1918.0278259px #ffffff80,122.46057032px 619.1810718px #ffffff80,233.64250297px 1896.96051573px #ffffff80,1563.35226622px 534.45459954px #ffffff80,1822.55011183px 1759.52975221px #ffffff80,22.62566888px 1607.61643882px #ffffff80,1479.02277131px 1331.58156417px #ffffff80,1468.79083705px 1595.46334655px #ffffff80,263.5738082px 406.70882122px #ffffff80,1695.57689566px 80.46806063px #ffffff80,380.00511308px 1783.63321888px #ffffff80,1963.10571978px 55.24802812px #ffffff80,1461.35316736px 516.55543537px #ffffff80,1885.54487337px 1153.45767011px #ffffff80,1139.26661291px 1400.85444999px #ffffff80,1362.2931877px 81.83796519px #ffffff80,1597.91299016px 1353.20034473px #ffffff80,1254.87708795px 898.43222558px #ffffff80,989.60028314px 535.48234143px #ffffff80,1121.24253035px 423.41671301px #ffffff80,430.3206566px 907.06444504px #ffffff80,643.39925235px 1293.11369561px #ffffff80,1879.02545714px 1315.22122799px #ffffff80,1790.52903067px 1521.45868436px #ffffff80,1488.13050647px 1548.49328587px #ffffff80,246.53078293px 836.94675985px #ffffff80,968.07442591px 1953.62616242px #ffffff80,1197.84583685px 908.73830575px #ffffff80,671.29618316px 487.0640356px #ffffff80,1861.84355854px 1213.1601871px #ffffff80,6.95195042px 1887.27502727px #ffffff80,1789.17296522px 69.89881729px #ffffff80,803.01963586px 1745.95364794px #ffffff80,249.8659657px 615.92461481px #ffffff80,1901.02943617px 1789.85260412px #ffffff80,816.88045418px 474.10745668px #ffffff80,546.91552782px 524.81875138px #ffffff80,1451.91095566px 810.83932081px #ffffff80,1238.1678304px 1709.97350917px #ffffff80,403.34400562px 1853.89684308px #ffffff80,261.64588803px 940.04418073px #ffffff80,1680.49326931px 484.10330298px #ffffff80,1680.9139035px 1092.9969801px #ffffff80,99.70099519px 171.48283369px #ffffff80,779.367813px 1415.65817511px #ffffff80,119.02983175px 1697.70957656px #ffffff80,1175.63174578px 1031.69088789px #ffffff80,1590.3047183px 23.36897428px #ffffff80,1037.83569028px 1203.5094568px #ffffff80,1805.21141437px 957.38396808px #ffffff80,1744.5616715px 114.94371446px #ffffff80,1052.88522079px 540.57882697px #ffffff80,7.37591256px 13.46932684px #ffffff80,1955.71793092px 751.28833273px #ffffff80,731.91029746px 106.08538863px #ffffff80,894.51799176px 1482.82552596px #ffffff80,1576.16165017px 179.25926161px #ffffff80,1743.75938605px 1858.07592124px #fff;
  
    &::after{
        content: "  ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        box-shadow: 1146.81926517px 1146.43342865px #ffffff80,1672.54280521px 1474.57033373px #ffffff80,803.70725303px 870.91391522px #ffffff80,1004.63410613px 959.92541255px #ffffff80,213.72936442px 1548.39276156px #ffffff80,597.49898547px 1785.29332498px #ffffff80,295.56070351px 474.75819883px #ffffff80,51.22431777px 191.06959504px #ffffff80,1319.98734768px 657.44914936px #ffffff80,842.57780241px 1147.01745351px #ffffff80,614.91899594px 186.8064062px #ffffff80,635.09161509px 1013.3066076px #ffffff80,1746.63064053px 1429.05064492px #ffffff80,892.10237482px 110.968851px #ffffff80,791.18303463px 429.11213914px #ffffff80,1195.51970082px 1054.42126581px #ffffff80,901.02950389px 1782.72901728px #ffffff80,1164.94426945px 167.80777915px #ffffff80,365.56528589px 1599.17838472px #ffffff80,1694.05246567px 1631.40464362px #ffffff80,832.12845576px 1198.41050423px #ffffff80,1004.44375991px 822.4129513px #ffffff80,856.13389757px 544.54714759px #ffffff80,1449.265333px 72.23422545px #ffffff80,1131.3481862px 485.37443373px #ffffff80,698.86058623px 461.45027935px #ffffff80,1794.29755127px 848.54586713px #ffffff80,301.33248279px 1042.76335489px #ffffff80,933.02570655px 966.52432334px #ffffff80,87.22610288px 1666.17384379px #ffffff80,563.54963604px 1774.81855983px #ffffff80,932.62773827px 118.82104934px #ffffff80,907.23396788px 545.72603696px #ffffff80,1500.6245772px 432.78544743px #ffffff80,207.92228147px 682.80018803px #ffffff80,1318.56457568px 1364.9111967px #ffffff80,1213.64962849px 1034.0412764px #ffffff80,1635.80349831px 1234.75683573px #ffffff80,350.7948274px 249.54670021px #ffffff80,268.26968451px 607.119763px #ffffff80,362.10455705px 1422.64739441px #ffffff80,608.01531118px 1701.44905758px #ffffff80,721.89608835px 671.98203861px #ffffff80,1707.29092px 96.93768103px #ffffff80,1463.47986572px 392.14255013px #ffffff80,494.91573734px 1817.09019947px #ffffff80,1233.90046422px 475.93092796px #ffffff80,576.95567716px 1321.41792157px #ffffff80,57.41917899px 1103.39715169px #ffffff80,1628.35887376px 807.38325649px #ffffff80,944.19246105px 1044.18058669px #ffffff80,1794.6796058px 580.4761764px #ffffff80,1890.93112344px 631.68197633px #ffffff80,252.49192222px 1449.74489653px #ffffff80,606.77485339px 1337.1271036px #ffffff80,1851.39088699px 360.96738669px #ffffff80,582.83728735px 1272.42185016px #ffffff80,1644.81819976px 1019.42499653px #ffffff80,1206.39147401px 166.97294725px #ffffff80,1380.75739275px 993.64583157px #ffffff80,1691.03198684px 1376.02669342px #ffffff80,97.97734661px 994.22370792px #ffffff80,1828.35434303px 1542.97244033px #ffffff80,239.43080577px 978.62473081px #ffffff80,802.96069974px 111.15200283px #ffffff80,42.59907759px 32.86376158px #ffffff80,1612.1811619px 609.67042587px #ffffff80,1319.34380831px 236.850446px #ffffff80,1590.21471721px 279.21169628px #ffffff80,1906.45203088px 36.3941141px #ffffff80,1657.02545107px 676.32693347px #ffffff80,197.42389226px 626.45101639px #ffffff80,1350.1264919px 110.83353831px #ffffff80,1321.92859545px 483.15365362px #ffffff80,1596.36813252px 1866.67975094px #ffffff80,1254.80696712px 1418.89233827px #ffffff80,1738.21575635px 345.15390554px #ffffff80,1701.05595994px 1489.75392777px #ffffff80,307.23618472px 252.33996209px #ffffff80,1134.54711254px 410.48588997px #ffffff80,1226.66101871px 1063.92954637px #ffffff80,17.91730309px 1808.79204596px #ffffff80,1299.41352643px 1596.12188442px #ffffff80,650.58843155px 926.00749928px #ffffff80,1347.34463641px 489.31710247px #ffffff80,1949.60862058px 1500.90046828px #ffffff80,1345.28870747px 435.44705087px #ffffff80,1081.77707301px 42.06181199px #ffffff80,442.13221078px 1164.21164647px #ffffff80,65.37314473px 1636.2943812px #ffffff80,1513.33861511px 1469.43911312px #ffffff80,1366.50258398px 786.96162145px #ffffff80,593.75093334px 612.90747764px #ffffff80,515.80991732px 695.870158px #ffffff80,1802.16746517px 900.72590713px #ffffff80,1415.75942619px 1723.09012908px #ffffff80,267.7007649px 1071.93534831px #ffffff80,1826.36926464px 1824.46574207px #ffffff80,1104.9012859px 1720.72917042px #fff;
        background: transparent;
    }
        }
      }
      video{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
        filter: blur(4px);
        z-index: 0;
      }
    }
   
  }

 